<div class="big_card_container">
  <a href="#">
    <div class="big_card_photo">
      <img src="https://wallpaperaccess.com/full/3910936.png" alt="big card's photo" height="380px">
    </div>

    <div class="big_card_title">
      <h2>Saiu a nova versão do Angular</h2>
    </div>

    <div class="big_card_description">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur ducimus, rem accusantium repellendus
        error
        accusamus quisquam debitis pariatur eos magnam minus neque, dolor, aut numquam cumque dolores facilis molestiae
        minima?</p>
    </div>
  </a>

</div>