.small_card_container {
  /* border: 1px solid #fff; */
  height: 160px;
  padding: 5px 5px 5px 15px;
  margin-bottom: 5px;
}

.small_card_container:hover {
  background-color: rgb(25, 25, 25);
}

.small_card_container a {
  display: flex;
}

.small_card_photo > img {
  width: 250px;
  height: auto;
}

.small_card_description {
  margin-left: 10px;
}

.small_card_description > h2 {
  font-size: 16px;
}
